@media only screen and (max-width:767px) {
    .content article .post-title {
        font-size: 22px !important;
    }

    .blog-header .blog-title {
        font-size: 35px !important;
    }

    .content article .post-excerpt {
        font-size: 15px !important;
        line-height: 1.6 !important;
    }

    p {
        word-break: break-all !important;
    }
}
