@use '../../styles/markdown-style'as *;
@use 'prismjs/themes/prism-tomorrow'as *;
@use '../../styles/mixins'as *;

.post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

#utterances_thread {
  @include content-max-width;
  margin: 4rem auto 2rem;
  @media (max-width: 767px) {
    margin: 2rem auto 0;
    padding: 0 10px;
  }
}

html[data-theme='dark'] {
  .phrygia_info_post dd strong {
    color: #fff;
  }
}

.phrygia_info_post {
  margin: 50px auto 0;
  @include content-max-width;

  @media (max-width: 767px) {
    margin-top: 20px;
  }

  dl {
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    dt {
      width: 146px;
      height: 140px;
      overflow: hidden;
      img {
        width: 140px;
        height: 140px;
        margin: 0;
        border-radius: 100%;
        border: 1px solid #f1f1f1;
      }
      @media (max-width: 767px) {
        height: auto;

        & img {
          height: atuo;
        }
      }
    }
    dd {
      margin-left: 25px;
      width: -webkit-calc(100% - 142px);
      width: calc(100% - 142px);
      strong {
        color: #323232;
        font-size: 18px;
        letter-spacing: -1px;
      }
      p {
        word-break: break-all;
        margin-top: 20px;
        font-size: 14px;
        color: #ababab;
        font-weight: 300;
      }
    }
  }

  @media (max-width: 767px) {
    dl {
      padding: 15px 15px 10px;
      dt {
        width: 72px;
        img {
          width: 70px;
          height: 70px;
        }
      }
      dd {
        margin-left: 15px;
        width: -webkit-calc(100% - 72px);
        width: calc(100% - 72px);
        strong {
          font-size: 1.1em;
        }
        p {
          margin-top: 8px;
          font-size: 0.85em;
          line-height: 1.4;
        }
      }
    }
  }
}
