// @use '../../styles/mixins'as *;
// @use '../../styles/variables'as *;

.post-tabs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  width: 100%;

  .post-tabs {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    max-width: 650px;
    margin: 0 auto 70px;
    background-color: rgba(153, 153, 255, 0.15);
    border: 1px solid rgba(153, 153, 255, 0.18);
    border-left-width: 6px;
    border-right-width: 6px;
    & > div {
      min-height: 20px;
      position: relative;
      padding: 0 20px;
      .MuiTabs-scrollButtons {
        position: absolute;
        width: 35px;
        height: 35px;
        margin-top: -1px;
        z-index: 3;
        background-color: #f0f0ff;
        opacity: 1;
      }
      .Mui-disabled {
        opacity: 0;
      }
      & > div:first-child {
        left: -7px;
        justify-content: right;
        padding-right: 5px;
      }
      & > div:last-child {
        right: -7px;
        justify-content: left;
        padding-left: 5px;
      }
    }

    .mui-tabs {
      .MuiTab-root {
        height: 32px;
        margin: 0 5px;
        min-width: auto;
        background-color: #fff;
        padding: 0 12px;
        font-weight: 500;
        font-size: 13.2px;
        transition: all 200ms ease;
        border-radius: 20px;
        border: 1px solid #ddd;
        min-height: 20px;
      }

      .Mui-selected {
        // color: var(--tab-hover-text-color);
        color: #222;
        transition: all 200ms ease;
        font-weight: 700;
        border-width: 2px;
      }
      .MuiTabs-indicator {
        display: none;
      }
    }
  }

  @media (max-width: 767px) {
    .post-tabs {
      margin-bottom: 40px;
      // .mui-tabs {
      //   .MuiTab-root {
      //     font-size: 14px;
      //   }
      // }
    }
  }
}
