.post-tabs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  width: 100%;

  .post-tabs {
    position: sticky;
    top: 62px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    max-width: 650px;
    margin: 0 auto 70px;
    background-color: rgb(240, 240, 247);
    border: 1px solid rgba(104, 104, 172, 0.2);
    border-left-width: 6px;
    border-right-width: 6px;

    & > div {
      min-height: 20px;
      position: relative;
      padding: 0 20px;

      .MuiTabs-scrollButtons {
        position: absolute;
        width: 35px;
        height: 35px;
        margin-top: -1px;
        z-index: 3;
        background-color: #f0f0ff;
        opacity: 1;
      }
      .Mui-disabled {
        opacity: 0;
      }
      & > div:first-child {
        left: -7px;
        justify-content: right;
        padding-right: 5px;
      }
      & > div:last-child {
        right: -7px;
        justify-content: left;
        padding-left: 5px;
      }
      & svg {
        color: var(--tab-arrow-color);
      }
    }

    .mui-tabs {
      .MuiTab-root {
        height: 32px;
        margin: 0 5px;
        min-width: auto;
        background-color: #fff;
        padding: 0 12px;
        font-weight: 400;
        font-size: 13.2px;
        border-radius: 20px;
        border: 1px solid rgba(104, 104, 172, 0.15);
        min-height: 20px;
      }

      .Mui-selected {
        color: #6868ac;
        font-weight: 700;
        border-color: rgba(104, 104, 172, 0.4);
      }
      .MuiTabs-indicator {
        display: none;
      }
    }

    @media (max-width: 767px) {
      width: calc(100% + 24px);
      margin-left: -12px;
      padding: 8px 0;
      border-color: rgb(240, 240, 247);
      top: 53px;
      border-left-width: 0;
      border-right-width: 0;

      & > div {
        padding: 0;
      }

      .mui-tabs {
        .MuiTab-root {
          font-size: 12px;
          height: 30px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .post-tabs {
      margin-bottom: 40px;
    }
  }
}
