<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">Phrygia Devlog</h2>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">Posts</a></li>
      <!-- <li><a href="{{ '/category/diary' | prepend: site.baseurl }}">Diary</a></li> -->
      <li><a href="javascript:alert('준비중입니다 :)')">About</a></li>
      <li><a href="javascript:alert('준비중입니다 :)')">Portfolio</a></li>
      <!-- <li><a href="https://www.notion.so/80b52376264e4ad98e08cde0c4b61a40" target="_blank">About</a></li> -->
    </ul>
  </div>
</nav>
