@use '../../styles/mixins'as *;

#main {
  @media (max-width: 767px) {
    padding-top: 54px;
  }
}
#nf_page {
  width: 100%;
  @include content-max-width;
  margin: 10rem auto 6rem;
  text-align: center;
  img {
    width: 75%;
  }
  h1 {
    font-size: 1.7rem;
    margin: 7rem 0 2rem;
    font-weight: 700;
  }
  @media (max-width: 767px) {
    margin: 6rem auto 2rem;
    h1 {
      font-size: 1.3rem;
      margin: 3rem 0 1.4rem;
    }
    p {
      font-size: 13px;
    }
  }
}

body.dark {
  .page-header-wrapper {
    background-color: #232326;
  }
}
body.light {
  .page-header-wrapper {
    background-color: #fff;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  }
}
.page-header-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 62px;
  @include content-horizontal-padding;
  @media (max-width: 767px) {
    position: fixed;
    height: 54px;
    left: 0;
    top: 0;
    z-index: 999;
  }
  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include content-max-width;

    .link {
      font-weight: 700;
      font-size: 15px;
      color: var(--primary-text-color);

      @include md {
        font-weight: 700;
        font-size: 16px;
      }
    }

    .front-section {
      @include md {
        .link {
          font-size: 21px;
        }
      }
    }

    .trailing-section {
      display: flex;
      align-items: center;
      button {
        border:0;
        background-color: transparent;
        cursor: pointer;
      }

      .link {
        margin-left: 14px;
        font-weight: 500;
        @media (max-width: 767px) {
          &.mo {
            display: none;
          }
        }
        @include md {
          margin-left: 22px;
        }
      }

      .dark-mode-switch {
        margin-left: 3px;

        @include md {
          margin-left: 13px;
        }
      }
    }
  }
}
