.post-card-wrapper {
  width: 100%;

  .title {
    .post-card {
      h3 {
        color: var(--primary-text-color);
        line-height: 1.5;
        font-weight: 700;
      }
      &:hover {
        h3 {
          color: #6868ac;
        }
      }
    }
  }
  .read-more {
    font-weight: 700;
  }
  .description {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }
  img {
    width: 100%;
  }
  @media (min-width: 768px) {
    display: flex;

    &:hover {
      img {
        top: 170px !important;
      }
    }
    .category {
      font-size: 13px;
    }
    & > .cont {
      width: 100%;
      margin-bottom: 55px;

      .title {
        .post-card {
          h3 {
            font-size: 24px;
          }
        }
        .description {
          margin: 18px 0 24px;
          line-height: 1.7;
          font-size: 14.6px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    & > .date {
      width: 100%;
      margin-bottom: 24px;

      p {
        display: none;
      }
    }
    & > .cont {
      width: 100%;
      margin-bottom: 50px;

      .title {
        line-height: 1.4;

        .post-card {
          h3 {
            font-size: 20px;
          }
        }
        .description {
          margin: 20px 0 15px;
          line-height: 1.6;
        }
      }
    }
  }
}
