@use '../../styles/mixins'as *;

.page-footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 62px;
  margin-top: auto;

  .page-footer {
    @include content-max-width;
    text-align: center;
    font-size: 12px;
    .link {
      font-weight: 700;
      font-size: 20px;
      color: var(--primary-text-color);
      margin-right: 20px;
    }

    a {
      color: #3a95ff;
    }
    @media (max-width: 767px) {
      font-size: 10px;
    }
  }
}

#go-to-top {
  position: fixed;
  width: 48px;
  right: 25px;
  height: 80px;
  bottom: 100px;
  margin: 0;
  padding: 0;
  z-index: 10000;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
#go-to-top span {
  display: inline-block;
  width: 50%;
  height: 1px;
  position: absolute;
  top: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0.23, 0.24, 0, 0.99);
  transition: all 0.2s cubic-bezier(0.23, 0.24, 0, 0.99);
}
#go-to-top .left {
  left: 0;
}
#go-to-top .right {
  right: 0;
}
#go-to-top p {
  position: absolute;
  top: 30px;
  width: 80px;
  margin: 0;
  padding-bottom: 32px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
@media (min-width: 768px) {
  #go-to-top:hover .left {
    -webkot-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #go-to-top:hover .right {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #go-to-top:hover span {
    top: -9px;
    height: 2px;
    width: 60%;
  }
}
@media (max-width: 767px) {
  #go-to-top {
    right: 18px;
  }
  #go-to-top p {
    padding-bottom: 36px;
  }
  #go-to-top span {
    height: 1.5px;
    &.left {
      left: 3px;
      -webkot-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &.right {
      right: 4px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  .catalogue-item {
    padding: 1.5rem 0;
  }
  .catalogue-title {
    font-size: 1.4rem;
    line-height: 1.6;
  }
  .post-title {
    font-size: 2rem;
  }
  .post-title {
    font-size: 1.7rem;
    line-height: 1.6 !important;
  }
  .catalogue-item p {
    font-size: 13px;
    line-height: 1.7;
    white-space: normal;
    max-height: 5em;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: keep-all;
    overflow: hidden;
  }
  .catalogue-time {
    font-size: 12.5px;
  }
  #go-to-top {
    right: 17px;
    bottom: 80px;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
html[data-theme='dark'] {
  body {
    &::-webkit-scrollbar-thumb {
      background-color: #383636;
    }
    &::-webkit-scrollbar-track {
      background-color: #2d2d2d;
    }
  }
  .markdown blockquote {
    color: #90b0ec;
  }
  .markdown .blockquote {
    background-color: rgba(135, 131, 120, 0.15);
  }
  #go-to-top {
    color: rgba(255, 255, 255, 0.6);
    span {
      background-color: rgba(255, 255, 255, 0.6);
    }
    p {
      color: #fff;
    }
  }
  .page-content {
    .post-card-wrapper .title .post-card {
      color: #fff;
    }
    .post-card-wrapper .categories a {
      color: rgba(153, 153, 255, 1);
    }
  }
  .post-card-wrapper > .cont .title .description,
  .post-tabs-wrapper .post-tabs .mui-tabs .MuiTab-root {
    color: #d8d7d7;
  }
  .post-tabs-wrapper .post-tabs .mui-tabs .MuiTab-root {
    border-color: #383636 !important;
  }
  .post-tabs-wrapper .post-tabs .mui-tabs .Mui-selected {
    border-color: #666 !important;
  }
  .post-tabs-wrapper .post-tabs .mui-tabs .Mui-selected,
  .post-card-wrapper .title .post-card h3 {
    color: #fff;
  }
  .post-tabs-wrapper .post-tabs .mui-tabs .MuiTab-root {
    background-color: transparent;
    border-color: #999;
  }
  .post-tabs-wrapper .post-tabs > div .MuiTabs-scrollButtons {
    background-color: #24272c;
  }
  .post-tabs-wrapper .post-tabs {
    background-color: #24272c;
    border-color: #383636;
  }
}
html[data-theme='light'] {
  body {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(153, 153, 255, 0.15);
    }
    &::-webkit-scrollbar-track {
      background-color: #f1f1f1;
    }
  }
  #go-to-top {
    color: #323232;
    span {
      background-color: #323232;
    }
  }
}

.gatsby-resp-image-link > .gatsby-resp-image-link {
  padding-bottom: 0 !important;
}
