---
layout: default
---

<div class="phrygia_info">
  <dl>
    <dt><img src="/assets/image/phrygia.jpg" alt="phrygia"></dt>
    <dd>
      <strong>Chaeyeon Lee</strong>
      <p>Frontend Engineer 꿈꾸는 3년차 Publisher입니다-*</p>
    </dd>
  </dl>
</div>

<div class="catalogue">
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content | strip_html | truncatewords: 30 }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
  